@model IEnumerable<TestWebProj.Models.CurrencyModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Valute</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nominal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Previous)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nominal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Previous)
            </td>
            <td> 
                <a asp-action="Details" asp-route-id="@item.CharCode" class="btn btn-sm btn-primary ml-1">Details</a>              
            </td>
        </tr>
}
    </tbody>
</table>
